.user-account {}
.user-account .user-section-left {
    width: 17%;
}
.user-account .user-section-right {
    width: 83%;
}
.user-account .ym-gbox-left {
    border-right: 1px solid #cccccc;
    padding: 0;
}
.user-account .ym-gr .ym-gbox-right {
    padding-left: 20px;
}
.user-account .user-box {
    background: #fff;
    min-height: 60px;
    border-top: 1px solid #d0d0d0;
}
.user-account .user-box-hd {
    border-top: 4px solid #2d88b1;
}
.user-menu li {
    margin: 0 0 2px 0;
}
.user-menu a {
    font-size: 16px;
}
.user-menu .nav-item{
    display: block;
    line-height: 50px;
    height: 50px;
    background: #e5e5e5;
    position: relative;
    padding: 0 0 0 45px;
}
.user-menu .active .nav-item, .user-menu .nav-item:hover {
    background: #2d88b1;
    color: #fff;
}
.user-menu .icon {
    display: block;
    height: 26px;
    width: 26px;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -13px;
    background: url("../images/icon_accounts.png") no-repeat;
}
.user-menu .icon-home {
    background-position: -44px -4px;
}
.user-menu .icon-money {
    background-position: -44px -50px;
}
.user-menu .icon-manager {
    background-position: -44px -102px;
}
.user-menu .icon-account {
    background-position: -44px -155px;
}
.user-menu .icon-msg {
    background-position: -44px -205px;
}

.user-menu .active .icon-home,
.user-menu .nav-item:hover .icon-home {
    background-position: -0px -4px;
}
.user-menu .active .icon-money,
.user-menu .nav-item:hover .icon-money {
    background-position: -0px -50px;
}
.user-menu .active .icon-manager,
.user-menu .nav-item:hover .icon-manager {
    background-position: -0px -102px;
}
.user-menu .active .icon-account,
.user-menu .nav-item:hover .icon-account {
    background-position: -0px -155px;
}
.user-menu .active .icon-msg,
.user-menu .nav-item:hover .icon-msg {
    background-position: -0px -205px;
}

.user-menu .submenu {
    padding: 5px 0;
    width: 100% !important;
    display: none;
}
.user-menu .active .submenu {
    display: block;
}
.user-menu .submenu li{
    padding: 5px 0 5px 45px;
    position: relative;
}
.user-menu .submenu a {
    color: #666666;
}
.user-menu .submenu a:hover,
.user-menu .submenu .active a {
    color: #2d88b1;
}

.user-menu .submenu .icon {
    height: 18px;
    width: 4px;
    background: #2d88b1;
    position: absolute;
    left: 36px;
    top: 50%;
    margin-top: -10px;
    display: none;
}

.user-menu .submenu a:hover .icon, .user-menu .submenu .active .icon{
    display: block;
}





.user-profile {
    position: relative;
    padding: 30px;
}
.user-profile .user-cover {
    display: block;
    height: 124px;
    width: 124px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.user-profile .user-cover img {
    display: block;
    margin: 0 auto;
}
.user-profile .user-detail {
    position: absolute;
    left: 180px;
    top: 60px;
}
.user-profile .user-name {
    font-size: 20px;
    color: #666666;
}
.user-profile .user-link {
    margin: 18px 0 0 0;
}
.user-profile .user-link a {
    display: block;
    float: left;
    margin-right: 10px;
    background: url("../images/icon_user_info.jpg") no-repeat;
    width: 24px;
    text-indent: -99em;
}
.user-profile .user-link .msg { background-position: -3px center;}
.user-profile .user-link .phone { background-position: -44px center;}
.user-profile .user-link .contact { background-position: -84px center;}

.user-summary {
    margin: 20px 0 0 0;
    padding: 16px;
    font-size: 16px;
}
.user-summary .header {
    position: relative;
    margin-top: 36px;
}
.user-summary .heade-first {
    margin: 0;
}
.user-summary .title {
    font-size: 18px;
    font-weight: bold;
    float: left;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ccc;
}

.user-summary .ym-grid{
    margin: 14px 0;
}
.user-summary .ym-grid .ym-gl .ym-gbox{
    position: relative;
}
.user-summary .ym-grid .ym-gl .ym-gbox:after {
    content: "";
    position: absolute;
    height: 20px;
    border-right: 1px solid #2d88b1;
    width: 1px;
    right: 12px;
    top: 50%;
    margin-top: -10px;
}
.user-summary .item-name {
    color: #666666;
    display: inline;
    display: inline-block;
    width: 80px;
}
.user-summary .ym-g50 .item-name {
    width: auto;
    padding: 0 12px 0 0;
}
.user-summary .hl {
    font-size: 20px;
}
.user-summary .summary-btn {
    position: absolute;
    right: 10px;
    height: 24px;
    line-height: 24px;
    padding: 0 16px;
    font-size: 14px;
    color: #2d88b1;
    border: 1px solid #2d88b1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.user-summary .summary-btn:hover{
    background: #2d88b1;
    color: #fff;
}


.user-account .list-summary {
    background: #e5e5e5;
    border-top: 1px solid #d0d0d0;
}
.list-summary .ym-gbox {
    text-align: center;
    margin: 20px 0;
}
.list-summary .ym-center {
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
}
.list-summary .title {
    font-size: 18px;
}
.list-summary .count {
    font-size: 28px;
    margin: 12px 0 0 0;
    color: #2d88b1;
}
.list-summary .ll {
    font-size: 16px;
    color: #666666;
}

.record-list {
    font-size: 16px;
    margin-top: 20px;
    border-top: 1px solid #d0d0d0;
}
.record-list .ym-gbox{
    padding: 16px 10px;
}
.record-list .search-item {
    margin: 0 0 20px 0;
    position: relative;
    padding: 0 10px;
}
.record-list .search-border {
    border-bottom: 1px solid #eeeeee;
    height: 1px;
    margin: 30px 10px;
}
.record-list .search-item .select {
    font-size: 16px;
    display: inline-block;

}
.record-list .search-item .select-year {
    width: 80px;
}
.record-list .search-item .select-month {
    width: 60px;
}
.record-list .search-item .select-type {
    width: 200px;
}
.record-list .title {
    color: #666666;
    display: inline;
    display: inline-block;
    padding: 0 12px 0 0;
}
.record-list .item {
    display: inline;
    display: inline-block;
}
.record-list .start-time {
    display: inline;
    display: inline-block;
}
.record-list .end-time {
    display: inline;
    display: inline-block;
    padding: 0 0 0 40px;
}
.record-list .time-select,
.record-list .search-btn {
    display: block;
    position: absolute;
    right: 100px;
    height: 30px;
    line-height: 30px;
    top: 50%;
    margin-top: -15px;
}

.record-list .search-btn {
    background: #2d88b1;
    color: #fff;
    padding: 0 6px;
    right: 104px;
    border: none;
}
.no-table-data {
    padding: 15px 0 30px 0;
    text-align: center;
    font-size: 16px;
}
.user-table {
    width: 100%;
    font-size: 14px;

}
.user-table th{
    background: #2d88b1;
    font-weight: lighter;
    padding: 3px 1px 3px 6px;
    color: #fff;
}
.user-table td {
    padding: 12px 1px 0px 6px;
}

.pagination {
    margin: 50px 0;
}



.user-statistics {
}
.user-statistics .header {
    position: relative;
    margin: 20px;
/*margin-top: 36px;*/
}
.user-statistics .ym-g20 {
    width: 16.666666%;
}
.user-statistics .header .title {
    font-size: 18px;
    font-weight: bold;
    float: left;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ccc;
}

.user-statistics .ym-grid {
    text-align: center;
    margin: 0 0 40px 0;
}
.user-statistics .ym-grid .title {
    display: block;
    color: #666666;
    font-size: 16px;
}
.user-statistics .ym-grid .hl {
    font-size: 20px;
}
.user-statistics .ym-grid .ym-gl {
    border-right: 1px solid #2d88b1;
}




.user-autobid {
    font-size: 16px;
}
.user-autobid .autobid-content{
    padding: 20px;
}
.user-autobid .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 20px 0;
}
.user-autobid .autobid-item {
    line-height: 40px;
}
.user-autobid .autobid-status {
    padding: 10px 0 20px 0;
    line-height: 32px;
    height: 32px;
}
.user-autobid .autobid-status-name {
    color: #2d88b1;
    font-size: 28px;
}
.user-autobid .autobid-status-btn {
    display: block;
    float: right;
    border: 1px solid #2d88b1;
    padding: 0 40px;
    height: 30px;
    line-height: 30px;
    color: #2d88b1;
    margin-right: 40px;
}
.user-autobid .autobid-status-btn:hover {
    background: #2d88b1;
    color: #fff;
}
.user-autobid .autobid-item .ym-gl {
    text-align: right;
    color: #666;
}
.user-autobid .autobid-item .ym-gl .ym-gbox {
    padding: 0 4px 0 0;
}
.user-autobid .autobid-item .bid-input {
    border: 1px solid #ddd;
    padding: 0 6px;
    width: 120px;
}
 .user-autobid .autobid-item .bid-short-input {
    width: 60px;
 }
.user-autobid .bid-select {
    display: inline;
    display: inline-block;
    width: 72px;
}
.user-autobid .bid-label {
    display: inline;
    display: inline-block;
    padding-right: 12px;
}
.user-autobid .require {
    color: #ff0000;
}
.user-autobid .autobid-submit {
    margin-top: 20px;
}
.user-autobid .bid-btn {
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    border: 1px solid #2d88b1;
    padding: 0 6px;
    background: #fff;
    color: #2d88b1;
    cursor: pointer;
    margin-right: 10px;
}
 .user-autobid .bid-btn-hl {
    background: #2d88b1;
    color: #fff;
 }
.user-autobid .bid-desc {
    color: #666666;
    line-height: 28px;
    border-top: 1px solid #eeeeee;
    padding: 24px 0 0 0;
    margin: 32px 0 40px 0;
}
.user-autobid .desc-title {
    margin-bottom: 8px;
}


.user-information {

}
.user-information .information-box {
    padding: 20px;
    
}
.user-information .title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 30px 0;
}

.user-information .info-item {
    border-bottom: 1px solid #eee;
}

.user-information .info-item .ym-g28 {
    width: 28%;
}
.user-information .info-item .ym-g72 {
    width: 72%;
}

.user-information .info-header {
    line-height: 60px;
    height: 60px;
    position: relative;
}
.user-information .info-title {
    font-size: 18px;
    padding: 0 0 0 70px;
}
.user-information .icon {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 50%;
    margin-top: -20px;
    left: 10px;
    background: url("../images/icon_user_account.png") no-repeat center;
}
.user-information .icon-nickname { background-position: center -5px; }
.user-information .icon-realname { background-position: center -63px; }
.user-information .icon-pwd { background-position: center -123px; }
.user-information .icon-mail { background-position: center -181px; }
.user-information .icon-phone { background-position: center -240px; }
.user-information .icon-casepwd { background-position: center -301px; }


.user-information .info-value {
    color: #666666;
}
.user-information .info-ops {
    display: block;
    position: absolute;
    height: 24px;
    line-height: 24px;
    top: 50%;
    width: 84px;
    text-align: left;
    margin-top: -10px;
    right: 0;
}
.user-information .info-ops .cancel {
    display: none;
}
.user-information .info-form-active .info-ops .cancel {
    display: inline-block;
}
.user-information .info-form-active .info-ops .edit {
    display: none;
}
.user-information a.info-ops {
    color: #2d88b1;
}
.user-information a.info-ops:hover {
    text-decoration: underline;
}
.user-information .info-form {
    display: none;
    color: #666;
    width: 100% !important;
}
.user-information .info-form form {
    display: block;
    padding: 20px 0 30px 0;
}
.user-information .info-form-title {
    color: #999999;
    margin-left: -70px;
}
.user-information .show-form .info-form {
    display: block;
}
.user-information .info-form-item {
    padding: 10px 0;
    height: 30px;
    line-height: 30px;
}
.user-information .info-form .ym-gl .ym-gbox{
    text-align: right;
    padding: 0 10px 0 0;
}
.user-information .info-form .require {
    color: #ff0000;
}
.user-information .info-form .info-input {
    border: 1px solid #dddddd;
    padding: 0 12px;
    height: 28px;
    line-height: 28px;
    width: 166px;
    font-style: 14px;
}
.user-information .info-form .info-submit {
    display: block;
    font-size: 16px;
    background: #1eb246;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 30px;
    height: 30px;
    width: 112px;
    margin-top: 6px;
}
.user-information .info-form .info-submit:hover {
    background: #18a43e;
    cursor: pointer;
}

.user-information .info-form-step {
    text-align: center;
    width: 410px;
    position: relative;
    margin-left: -50px;
}
.user-information .info-form-step .step-line {
    position: absolute;
    width: 300px;
    background: #eeeeee;
    height: 5px;
    left: 60px;
    top: 20px;
    z-index: 0;
}
.user-information .info-form-step .step-icon {
    display: block;
    margin: 0 auto 4px auto;
    height: 44px;
    width: 44px;
    position: relative;
    z-index: 99;
    background: url("../images/icon_account_step.png") center no-repeat;
}
.user-information .info-form-step .step-one .step-icon{background-position: -127px 2px;}
.user-information .info-form-step .step-two  .step-icon{background-position: 1px -54px;}
.user-information .info-form-step .step-three .step-icon{background-position: -65px -54px;}

.user-information .info-form-step .active .step-one .step-icon{background-position: -127px -54px;}
.user-information .info-form-step .active .step-two .step-icon{background-position: 1px -2px;}
.user-information .info-form-step .active .step-three .step-icon{background-position: -65px -2px;}

.user-information .info-form-step .active { color: #1eb246 }
.user-information .info-form .info-fetchnum {
    display: inline-block;
    margin: 0 0 0 12px;
}




/*****user message **/
.user-msg .title {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #eeeeee;
}
.user-msg .title .ll {
    font-size: 14px;
    font-weight: lighter;
}
.user-msg .title .cl {
    color: #2d88b1;
}
.user-msg .msg-header {
    margin: 20px 0;
}
.user-msg .msg-filter {
    display: block;
    float: left;
    margin-left: 12px;
}
.user-msg span.msg-filter {
    margin-left: 20px;
}
.user-msg .msg-active {
    color: #2d88b1;
}
.user-msg .msg-op {
    float: right;
    margin-right: 20px;
}
.user-msg .msg-op-item {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    background: #2d88b1;
    padding: 0 12px;
    color: #fff;
    font-weight: lighter;
    margin: 0 0 0 8px;
}
.user-msg .msg-op-item:hover {
    background: #1f7ba4;
}
.user-msg .msg-table {
    padding: 0 20px;
}
.user-msg .msg-table table {
    width: 100%;
}
.user-msg td,
.user-msg th {
    line-height: 34px;
    height: 34px;
    padding: 0 8px;
}
.user-msg .msg-table th{
    background: #eee;
    font-weight: lighter;
}
.user-msg td.msg-status {
    color: #666;
}
.user-msg td.msg-date {
    color: #999;
    font-weight: lighter !important;
}
.user-msg .msg-unread {
    font-weight: bold;
}
.user-msg .msg-checkbox {
    text-align: center;
    width: 30px;
}
.user-msg .msg-date {
    white-space: nowrap;
    width: 140px;
    padding-right: 0;
}
.user-msg tbody tr:hover{
    background: #eeeeee;
    cursor: pointer;
}

.user-msg tbody td {
    border-bottom: 1px solid #eee;
    white-space: nowrap;
}
.user-msg .msg-status {
    width: 50px;
}
.user-msg .msg-icon {
    width: 20px;
}
.user-msg .msg-icon .icon {
    display: block;
    width: 23px;
    height: 20px;
    background: url("../images/icon_user_msg.png") no-repeat center -50px;
}
.user-msg .msg-unread .msg-icon .icon {
    background-position: center 2px;
}
.user-msg .msg-sender {
    width: 100px;
}


.my-bid {
    margin-top: 0;
    border-top: none !important;
}
.my-bid .ym-gbox {
    padding: 0 !important;
}
.my-bid .bid-form {
    display: block;
    padding: 16px 10px 0 16px;
}
.my-bid .bid-table {
    padding: 0 10px;
}
.my-bid .bid-input {
    border: 1px solid #ddd;
    padding: 0 6px;
    width: 180px;
}
.my-bid .search-btn {
    padding: 0 24px;
}
.my-bid .bid-tab {
    margin-bottom: 20px;
    background: #eee;
}
.my-bid .bid-tab ul {
    list-style: none;
}
.my-bid .bid-tab li {
    list-style: none;
    float: left;
}
.my-bid .bid-tab a{
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    padding: 0 20px;
    font-size: 16px;
    border-top: 2px solid #eee;
}
.my-bid .bid-tab .active a{
    border-top: 2px solid #2d88b1;
    color: #2d88b1;
    background: #fff;
}


.recharge {
    margin: 0 0 20px 0;
    font-size: 16px;
}
.recharge-content {
    padding: 16px;
}
.recharge .recharge-content {
    padding-top: 20px;
    padding-bottom: 30px;
}

.recharge .recharge-msg {
    color: #999;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    position: relative;
    background: url("../images/icon_recharge_notic.png") no-repeat left center;
}
.recharge-btn {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: none;
    background: #2d88b1;
    color: #fff;
    width: 116px;
    font-weight: lighter;
    cursor: pointer;
}

.recharge-btn:hover {
    background: #1f7ba4;
    color: #fff;
}

.recharge .recharge-msg .recharge-btn {
    position: absolute;
    right: 100px;
    top: 0;
}

.recharge .recharge-item {
    line-height: 40px;
}
.recharge .recharge-item .label,
.recharge .recharge-item .value,
.recharge .recharge-extral,
.recharge .recharge-item .real-value {
    display: block;
    float: left;
}
.recharge .recharge-extral.recharge-btn{margin-top: 5px; margin-left: 12px;}
.recharge .recharge-item .real-value {margin-left: 120px;}
.recharge .recharge-item .real-value .ll {color: #666;}
.recharge .recharge-item .ll-notic {color: #999;}

.recharge .recharge-item .recharge-input {
    height: 28px;
    line-height: 28px;
    padding: 0 8px;
    border: 1px solid #ddd;
    width: 136px;
}

.recharge .recharge-item .label {
    width: 120px;
    text-align: right;
    color: #666;
}

.recharge-bank {

}
.recharge-title {
    font-size: 18px;
}
.recharge-bank .ym-grid {
    margin: 30px 0;
}
.recharge-bank .ym-g33 input,
.recharge-bank .ym-g33 img {
    display: block;
    float: left;
}
.recharge-bank .ym-g33 input {
    width: 30px;
    height: 38px;
    line-height: 38px;
}
.recharge-bank .ym-g33 img {
    height: 36px;
    border: 1px solid #dddddd;
}

.recharge-bank .recharge-bank-btn {
    margin: 30px 0 40px 0;
}
.recharge-bank .recharge-bank-btn .recharge-btn {
    margin: 0 auto;
}

.withdrawals .recharge-content {
    padding-top: 16px;
}
.withdrawals .recharge-title {
    margin-bottom: 20px;
}
.recharge .withdrawals-setting .value-setting {color: #2d88b1;}

.recharge-sbumit {border-bottom: 1px solid #eee;}
.recharge-sbumit .recharge-btn{margin: 30px 0 40px 120px;}
.withdrawals .user-table {margin-top: 30px;}
.recharge .phone-checking .recharge-extral.recharge-btn {width: auto;padding: 0 6px; margin-top: 6px;}
.withdrawals-bank-ready .withdrawals-setting .value-setting,
.withdrawals-bank-ready .withdrawals-setting .recharge-btn {display: none !important;}
.withdrawals-bank-notready .value-setting-done {display: none !important;}
.withdrawals-bank-notready .recharge-item .recharge-input{background: #eeeeee;}
.withdrawals-bank-notready .phone-checking .recharge-extral.recharge-btn,
.withdrawals-bank-notready .recharge-sbumit .recharge-btn {background: #ddd;cursor: default;}



.user-account .trusteeship-box {border: none; margin-bottom: 20px; font-size: 16px;}
.trusteeship-box .trusteeship-content {padding: 16px;overflow: hidden;}
.user-account .trusteeship-header {border-top: 4px solid #2d88b1;}
.trusteeship-header .ym-contain-oh .trusteeship-info,
.trusteeship-header .ym-contain-oh .trusteeship-btn {
    display: block;
    float: left;
}
.trusteeship-header .ym-contain-oh {height: 80px;margin: 8px 0;}
.trusteeship-header .ym-contain-oh .trusteeship-btn {
    background: #2d88b1;
    color: #fff;
    width: 200px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin: 12px 0 0 40px;
}
.trusteeship-header .ym-contain-oh .trusteeship-btn:hover {background: #1f7ba4;}
.trusteeship-header .trusteeship-info .label{color: #666;}
.trusteeship-header .trusteeship-registered {line-height: 40px;}
.trusteeship-header .trusteeship-registered .trusteeship-btn{margin-left: 120px;}
.trusteeship-header .trusteeship-not-register {line-height: 80px; color: #666; display: none;}
.trusteeship-unauth .trusteeship-registered {display: none;}
.trusteeship-unauth .trusteeship-not-register {display: block;}
.trusteeship-box .title {font-size: 18px;}
.trusteeship-box .trusteeship-op-box {width: 794px; margin: 20px 0 30px 0;}
.trusteeship-box .trusteeship-item {
    color: #2d88b1;
    display: block;
    height: 160px;
    width: 160px;
    border: 1px solid #2d88b1;
    position: relative;
}
.trusteeship-box .trusteeship-item:hover {background: #2d88b1; color: #fff;}
.trusteeship-unauth .trusteeship-item {background: #dddddd !important; color: #999 !important; border-color: #ddd !important; cursor: not-allowed !important;}
.trusteeship-box .trusteeship-item .trusteeship-name {
    position: absolute;
    height: 56px;
    line-height: 28px;
    top: 50%;
    margin-top: -28px;
    left: 24px;
}
.trusteeship-box .trusteeship-item .hl {font-size: 28px;display: block;}
.trusteeship-introduction {color: #666666;line-height: 28px;}
.trusteeship-introduction p {margin: 0 0 8px 0;}